@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animated gradient button */
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-btn {
  background: linear-gradient(-45deg, #1812c8, #a30000, #eb6601, #5d00fe, #02a974, #0acae3);
  background-size: 400% 400%;
  animation: gradient-shift 8s ease infinite ;
}